.layout {
  margin: 20px;
}

.content {
  padding: 20px;
}

.card .ant-card-body {
  padding: 0;
  width: 450px;
  height: 280px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.center {
  display: flex;
  flex-flow: row column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  width: 100%;
}
.search-panel {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.pagination {
  margin-top: 36px;
  text-align: center;
}

.image {
  object-fit: cover;
  height: 280px;
}

.nav {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.date {
  font-size: 12px;
  color: #827e7e;
}

.genres-container {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
}

.genres {
  color: black;
}

.description {
  margin-top: 10px;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

@media (max-width: 999px) {
  .movie-list {
    grid-template-columns: 1fr;
  }
}
